<mat-card class="task-card">
  <mat-card-header>
    <mat-card-title>{{ task.title }}</mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="taskMenu" class="task-menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #taskMenu="matMenu">
      <button mat-menu-item (click)="edit.emit()">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="delete.emit()">
        <mat-icon>delete</mat-icon>
        <span>Excluir</span>
      </button>
    </mat-menu>
  </mat-card-header>
  @if (task.description) {
    <mat-card-content>
      <p>{{ task.description }}</p>
    </mat-card-content>
  }
</mat-card>
