<button mat-icon-button [matMenuTriggerFor]="labelMenu" matTooltip="Labels" aria-label="Escolher labels da tarefa">
  <mat-icon>label</mat-icon>
</button>

<mat-menu #labelMenu="matMenu" class="label-picker-menu">
  <div class="swatches" (click)="$event.stopPropagation()">
    @for (label of allLabels; track label.id) {
      <button
        type="button"
        class="swatch"
        [style.background-color]="label.colorHex"
        [matTooltip]="label.name ?? 'Label sem nome'"
        [attr.aria-label]="label.name ?? 'Label sem nome'"
        (click)="toggle(label)"
      >
        @if (isSelected(label)) {
          <mat-icon>check</mat-icon>
        }
      </button>
    }
  </div>
</mat-menu>
